.play_ground {
    border:1px solid #ffffff;
    border-radius: 10px;
    height: 35vw;
    width: 40vw;
}

.object_mover_button {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    font-size: 2vw;
    margin: 1px;
    width: 5vw;
}

@media screen and (max-width: 768px) {
    .play_ground{
        height: 75vw;
        width: 80vw;
    }

    .object_mover_button{
        font-size: 5vw;
        padding: 2px;
    }
}