/* latin-ext */
@font-face {
    font-family: 'Ranchers';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Ranchers'), local('Ranchers-Regular'), url(https://fonts.gstatic.com/s/ranchers/v7/zrfm0H3Lx-P2Xvs2ArDRBi_NXQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Ranchers';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Ranchers'), local('Ranchers-Regular'), url(https://fonts.gstatic.com/s/ranchers/v7/zrfm0H3Lx-P2Xvs2ArDfBi8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  

body{
    text-align: center;

    scroll-behavior: smooth;

    background: url("../assets/back_ground.png") no-repeat;
    background-size: cover;
    background-color: #052f59;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.head_text{
    font-family: 'Ranchers', cursive;
    font-size: 5vw;
    background: -webkit-linear-gradient(#ff4db5, #93c2f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game_menu{
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    padding: 1px;
    margin: 1px;
}

.control_table{
    margin: auto;
}

.about_game_text{
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    padding: 1px;
}

.about_game_heading{
    background-color: transparent;
    color: hotpink;
    font-size: 3vw;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    padding: 1px;
    margin: 5px;
}


@media screen and (max-width: 768px) {
    .head_text{
        font-size: 10vw;
    }

    .game_menu{
        font-size: 4vw;
        padding: 2px;
        margin: 4px;
    }

    .about_game_text{
        font-size: 3vw;
    }

    .about_game_heading{
        font-size: 5vw;
    }
}